# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build/
dist/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
ENV/
*.egg-info/
.Python

# VSCode
.vscode/

# Mac/Windows system files
.DS_Store
Thumbs.db

# Docker
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Kubernetes
*.yaml~
actions-runner/